<!doctype html>
<html>
<head>
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> ForgotPassword</h1>

  

    <!--  ForgotPassword  FORM -->
    <form action="/users/ForgotPassword" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" placeholder="Enter Email" class="form-control" name="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Invalid email address" required>
        </div>
        <br><br>
        <button type="submit" class="btn btn-warning btn-lg">Send reset link</button>
        <p>Remembered suddenly?<a href="http://localhost:2024/users/login">Login</a></p>
    </form>

</div>
</div>
</body>
</html>