<!doctype html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Registation</h1>

    <% if (msgType === 'success') { %>
        <div class="alert alert-success"><%= message %></div>
    <% }else if(msgType === 'warning'){ %>
        <div class="alert alert-warning"><%= message %></div>
    <% }else if(msgType === 'error'){ %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    
      
    <!-- Registation FORM -->
    <form action="/users/register" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" placeholder="Enter Name" class="form-control" name="Name" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" placeholder="Enter Email" class="form-control" name="Email"  required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Enter password" class="form-control" name="Password"   required>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" placeholder="Enter Phone Number" class="form-control" name="Phone" required>
        </div>
        <div class="form-group">
            <label>Country</label>
            <input type="text" placeholder="Enter Country" class="form-control" name="Country" required>
        </div>
        <input type="checkbox" name="terms" id="terms"     onchange="activateButton(this)">  I Agree Terms & Coditions
        <br><br>
        <button type="Register" class="btn btn-warning btn-lg">Registation</button>
        <p>Already have an account?<a href="http://localhost:2024/users/login">login</a></p>


    </form>

</div>
</div>
</body>
</html>